@import "./mixins.scss";
@import "./variables.scss";
@import "./app.scss";
@import "./home.scss";
@import "./search-bar.scss";
@import "./recent-posts.scss";
@import "./results.scss";
@import "./post.scss";

html, body {
    font-family: 'EB Garamond', serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.no-content {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
}